# Build
**/bin/
**/obj/
*.user
*.suo

# Installer artifacts
*.wixpdb
publish/
.wix/

# IDE
.vs/
.vscode/
*.csproj.user

# OS
Thumbs.db
.DS_Store

# Runtime
**/*.runtimeconfig.json
**/*.deps.json

# Token (never commit)
token.txt
btc.txt
